# 1. Specific files/directories to ignore
learning.code-workspace
tp.py
.DS_Store
.venv/
.vscode/

# 2. Ignore compiled extensionless binaries inside c/ and cpp/ folders
c/*
!c/*.*
!c/**/
tp.c
cpp/*
!cpp/*.*
!cpp/**/
